.update-post {
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
}

.update-post__container {
  padding: 10px 15px;
}

.update-post__title {
  margin-bottom: 10px;
  font-size: 16px;
  margin-left: 5px;
}

.update-post__textarea {
  margin-bottom: 5px;
}
