<div class="update-post">
  <div class="update-post__container flex-column">
    <div class="flex-row justify-center align-center">
      <i class="fa-solid fa-pen icon--blue icon--sm"></i>
      <h4 class="update-post__title text--light-gray">Update post</h4>
    </div>
    <form class="form" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <textarea
        class="form__textarea update-post__textarea"
        placeholder="What's on your mind?"
        formControlName="content"
      ></textarea>
      <div class="flex-col justify-between items-center">
        <input
          type="file"
          class="update-form__file-input"
          (change)="onFileChange($event)"
          multiple
        />
        <div class="flex-row update-post__existing-images">
          <div
            class="update-post__box"
            *ngFor="let image of updatedPost?.imagePaths"
          >
            <button
              class="update-post__image-close"
              (click)="removeSpecifiedPicture($event, image)"
            >
              <i class="fa-solid fa-xmark"></i>
            </button>
            <img
              class="update-post__image"
              [src]="'http://localhost:8080/api/file/' + image"
            />
          </div>
        </div>
        <app-button
          size="sm"
          color="blue"
          text="Update post"
          class=""
        ></app-button>
      </div>
    </form>
  </div>
</div>
