.dialog__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog__message {
  margin-bottom: 10px;
}

.dialog__button {
  margin: 0px 5px;
}
