<div class="profile">
  <app-header></app-header>
  <div class="profile__wrapper">
    <div class="profile__container flex-col">
      <div class="profile__base-details">
        <div class="flex-row justify-between items-center">
          <div class="flex-row">
            <img
              [src]="'http://localhost:8080/api/file/' + user.profileImage"
              alt=""
              class="profile__avatar"
              *ngIf="user"
            />
            <div class="flex-col justify-center">
              <h2 class="profile__username" *ngIf="user">
                {{ user.username }}
              </h2>
              <h4 class="profile__name" *ngIf="user">
                {{ user.firstName + " " + user.lastName }}
              </h4>
            </div>
          </div>
          <app-button
            size="md"
            color="blue"
            text="Add friend"
            class=""
            *ngIf="user && user.id != loggedUser.id"
          ></app-button>
        </div>
      </div>
      <div class="profile__body flex-row">
        <div class="profile__left">
          <div class="profile__box">
            <h3 class="profile__box-title">Groups</h3>
            <app-group-vertical-nav-item
              *ngFor="let group of groups"
              [group]="group"
            ></app-group-vertical-nav-item>
          </div>
        </div>
        <div class="profile__right">
          <app-create-post *ngIf="loggedUser.id == userID"></app-create-post>
          <app-post *ngFor="let post of posts" [post]="post"></app-post>
        </div>
      </div>
    </div>
  </div>
</div>
