<div class="login">
  <div class="login__container flex flex-row items-center">
    <div class="login__left flex-row items-center justify-center">
      <img class="login__image" src="../../../assets/img/login.png" alt="" />
    </div>
    <div class="flex flex-col items-center justify-center login__right">
      <h1 class="login__title">Login into your account</h1>
      <app-login-form></app-login-form>
      <p>You don't have account? <a href="#">Register now</a></p>
    </div>
  </div>
</div>
