<div class="header">
  <div class="header__container flex-row justify-between items-center">
    <div class="header__box flex-row items-center">
      <img src="../../../assets/img/logo.png" class="header__logo" alt="" />
      <div class="header__search-box">
        <button class="header__search-btn">
          <i class="fa-solid fa-magnifying-glass header__search-icon"></i>
        </button>
        <input type="text" class="header__search" />
      </div>
    </div>
    <div class="header__box flex-row items-center">
      <app-nav class="w-100"></app-nav>
    </div>
    <div class="header__box flex-row items-center">
      <app-user-dropdown class="w-100"></app-user-dropdown>
    </div>
  </div>
</div>
