<form
  class="flex-col w-100"
  [formGroup]="changePasswordForm"
  (ngSubmit)="onSubmit()"
>
  <input
    type="password"
    placeholder="Old password"
    formControlName="oldPassword"
    class="form__input change-password-form__input"
  />
  <input
    type="password"
    formControlName="newPassword"
    placeholder="New Password"
    class="form__input change-password-form__input"
  />
  <input
    type="password"
    placeholder="Repeat new password"
    formControlName="repeatedNewPassword"
    class="form__input change-password-form__input"
  />
  <app-button
    class=""
    size="md"
    text="Change Password"
    color="blue"
  ></app-button>
</form>
