.icon--xs {
  font-size: 14px; /* $font-size-xs */
}

.icon {
  font-size: 16px; /* $font-size-sm */
}

.icon--md {
  font-size: 18px; /* $font-size-md */
}

.icon--lg {
  font-size: 20px; /* $font-size-lg */
}

.icon--2x {
  font-size: 24px; /* $font-size-xl */
}

.icon--3x {
  font-size: 36px; /* $font-size-xxl */
}

.icon--white {
  color: #fff; /* --white */
}

.icon--green {
  color: #10d876; /* --green */
}

.icon--blue {
  color: #2754e6; /* --blue */
}

.icon--dark-gray {
  color: #343a40; /* --dark-gray */
}

.icon--light-gray {
  color: #afb7bf; /* --light-gray */
}

.icon--error {
  color: #ff5e5e; /* --error */
}

.icon--orange {
  color: #ec5c27; /* --orange */
}

.icon--black {
  color: #212529; /* --black */
}
