.nav {
  width: 100%;
}

.nav__list {
  width: 100%;
}

.nav__item {
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  font-size: 24px;
  transition: all 0.3s ease;
  &:hover {
    color: var(--blue);
  }
}

.nav__item--active {
  color: var(--blue);
}
