.friend-card {
  background-color: #fff;
  margin: 10px 0;
  border-radius: 8px;
}

.friend-card__avatar {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.friend-card__username {
  font-size: 16px;
  font-weight: 600;
}

.friend-card__name {
  font-size: 14px;
}
