.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.home__container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

.home__side {
  flex-basis: 25%;
  height: 100%;
  width: 100%;
  padding: 0px 10px;
}

.home__main {
  padding: 0px 10px;
  flex-basis: 50%;
  height: 100%;
  width: 100%;
}
