.report-form__item {
  padding: 10px;
  margin: 10px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover {
    background-color: #fafafa;
    border: 2px solid var(--blue);
  }

  &:last-of-type {
    margin-bottom: 15px;
  }
}

.report-form__item--active {
  border: 2px solid var(--blue);
}
