.report-card {
  background: linear-gradient(to bottom right, #fafafa, #e0e0e0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  min-height: 200px;
  height: 200px;
  width: 200px;
  max-width: 200px;
  max-height: 200px;
  width: fit-content;
  margin: 10px 10px 10px 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.report-card__container {
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  color: var(gray);
}

.report-card__avatar {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.report-card__title {
  font-size: 14px;
  font-weight: bold;
}

.report-card__at {
  align-self: flex-end;
}

.report-card__type {
  font-size: 14px;
}

.report-card__at {
  font-size: 14px;
}

.report-card__details {
  margin-bottom: 5px;
}
