<div class="comment">
  <div class="comment__container flex-row">
    <img
      src="http://uitheme.net/sociala/images/user-7.png"
      alt=""
      class="comment__avatar"
    />
    <div class="flex-col">
      <div class="flex-col comment__content">
        <div class="comment__details flex-col">
          <h6 class="comment__user">user user</h6>
          <p class="comment__date">2023-05-21</p>
        </div>
        <p class="comment__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo
          consequatur aut quibusdam, eaque assumenda voluptates ullam nostrum
          reiciendis aspernatur dolores consectetur suscipit odio a beatae quas
          modi sit officiis minima?
        </p>
        <button class="comment__options" (click)="toggleOptionsList()">
          <i class="fa-solid fa-ellipsis-vertical icon--lg"></i>
          <app-options-menu
            [optionItems]="options"
            [isVisible]="optionsListVisible"
          ></app-options-menu>
        </button>
      </div>
      <div class="flex-row comment__reactions">
        <app-reactions></app-reactions>
        <p class="comment__reply">Reply</p>
      </div>
    </div>
  </div>
</div>
