<div class="comment">
  <div class="comment__container flex-row">
    <img
      src="http://uitheme.net/sociala/images/user-7.png"
      alt=""
      class="comment__avatar"
    />
    <div class="flex-col comment__data">
      <div class="flex-col comment__content">
        <div class="comment__details flex-col">
          <h6 class="comment__user">{{ comment.postedBy.username }}</h6>
          <p class="comment__date">{{ comment.createdAt.split("T")[0] }}</p>
        </div>
        <p class="comment__text">
          {{ comment.text }}
        </p>
        <button class="comment__options" (click)="toggleOptionsList()">
          <i class="fa-solid fa-ellipsis-vertical icon--lg"></i>
          <app-options-menu
            [optionItems]="options"
            [isVisible]="optionsListVisible"
          ></app-options-menu>
        </button>
      </div>
      <div class="flex-row comment__reactions">
        <app-reactions></app-reactions>
        <p class="comment__reply" (click)="replyOnPost()">Reply</p>
      </div>
      <div
        class="flex-row comment__reply-wrapper"
        [ngClass]="isReplyVisible ? 'comment__reply-wrapper--active' : ''"
      >
        <app-reply [comment]="comment" class="w-100 h-100"></app-reply>
      </div>
      <div class="flex-col comment__replies">
        <app-comment
          *ngFor="let comm of comment.commentReplies"
          [comment]="comm"
        ></app-comment>
      </div>
    </div>
  </div>
</div>
