<form action="" [formGroup]="createGroupForm" (ngSubmit)="onSubmit()">
  <div class="form__group">
    <input
      type="text"
      class="form__input"
      formControlName="name"
      placeholder="Your Group Name"
    />
  </div>
  <div class="form__group">
    <input
      type="text"
      class="form__input"
      formControlName="description"
      placeholder="Group description..."
    />
  </div>
  <div class="form__group">
    <input type="file" (change)="onFileChange($event)" />
  </div>
  <app-button size="md" color="blue" text="Create group" class=""></app-button>
</form>
