<div class="register">
  <div class="register__container flex flex-row items-center">
    <div class="register__left flex-row items-center justify-center">
      <img
        src="../../../assets/img/register.png"
        alt="Register image"
        class="register__image"
      />
    </div>
    <div class="flex flex-col items-center justify-center register__right">
      <h1 class="register__title">Register now!</h1>
      <app-register-form></app-register-form>
      <p>You already have account? <a href="/">Login now</a></p>
    </div>
  </div>
</div>
