<div class="vertical-nav">
  <div class="vertical-nav__container flex-col">
    <button>Change Password</button>
    <h3 class="vertical-nav__title">Groups</h3>
    <ul class="vertical-nav__list">
      <li class="vertical-nav__item vertical-nav__item--hoverable">
        <i class="fa-solid fa-user-group"></i>
        <span class="vertical-nav__item-title"> Create new group </span>
      </li>
      <hr class="vertical-nav__separator" />
      <li *ngFor="let group of groups | async">
        <app-group-vertical-nav-item [group]="group" />
      </li>
    </ul>
  </div>
</div>
