.vertical-nav {
}

.vertical-nav__container {
  display: flex;
  flex-direction: column;
}

.vertical-nav__title {
  padding: 10px 0px;
  font-size: 20px;
  color: var(--dark-gray);
}

.vertical-nav__item--hoverable {
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.vertical-nav__item {
  padding: 15px 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
