<div class="post">
  <div class="post__container flex-col">
    <div class="flex flex-row justify-between items-center">
      <div class="flex flex-row">
        <img
          [src]="'http://localhost:8080/api/file/' + post.postedBy.profileImage"
          class="post__profile-image"
          alt=""
        />
        <div class="flex flex-col justify-center">
          <h4 class="post__profile-name">
            {{ post.postedBy.firstName + " " + post.postedBy.lastName }}
          </h4>
          <p class="post__date">{{ post.creationDate.split("T")[0] }}</p>
        </div>
      </div>
      <div class="flex post__options">
        <button class="post__more" (click)="toggleOptionsList()">
          <i class="fa-solid fa-ellipsis-vertical icon--lg"></i>
        </button>
        <app-options-menu
          [optionItems]="options"
          [isVisible]="optionsListVisible"
        ></app-options-menu>
      </div>
    </div>
    <div class="post__details">
      <div class="post__details">
        <p class="post__content">{{ post.content }}</p>
        <div class="post__images">
          <img
            class="post__small-image"
            *ngFor="let image of post.imagePaths"
            [src]="'http://localhost:8080/api/file/' + image"
          />
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-between items-center">
      <div class="flex-row">
        <app-reactions
          [reactions]="totalReactions"
          [postID]="post.id"
        ></app-reactions>
        <button class="post__comments-button" (click)="openModalWithComments()">
          <i class="fa-regular fa-comment icon--md post__comments--icon"></i>
          {{ totalComments }}
        </button>
      </div>
    </div>
    <app-create-comment [postID]="post.id"></app-create-comment>
  </div>
</div>
